body{
  margin: 0;
  padding: 0;
  background: rgb(230, 230, 230);
}
.container{
    margin: 0 auto;
    width: 80%;
}
.show-item {
  width: 271px;
  max-height: 420px;
  border: 1px solid #c1c0c085;
  -webkit-box-shadow: 0px 0px 26px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 26px -10px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 26px -10px rgba(0,0,0,0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2vh;
  cursor: pointer;
}
.show-item span{
  font-size: 20px;
  margin: .3vh;
  width: 80%;
}
.item-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.search-input {
  width: 40vh;
  height: 30px;
}
.search {
  display: flex;
  justify-content: center;
}

.search input {
  font-size: 20px;
  background: rgba(255, 255, 255, 0.473);
  border: none;
}
.info-btn{
  position: fixed;
  top: 2%;
  left: 2%;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #999;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.show-casts {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  animation: fadeIn .5s ease-in-out;
}
.cast-show-item img {
  width: 70%;
  margin: 1vh;
}
.cast-show-item span {
  width: 70%;
  margin: .3vh;
}
.cast-show-item {
  width: 171px;
  min-height: 240px;
  border: 1px solid #c1c0c085;
  -webkit-box-shadow: 0px 0px 26px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 26px -10px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 26px -10px rgba(0,0,0,0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2vh;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}