body{
  margin: 0;
  padding: 0;
  background: rgb(230, 230, 230);
}
.container{
    margin: 0 auto;
    width: 80%;
}
.show-item {
  width: 271px;
  border: 1px solid #c1c0c085;
  -webkit-box-shadow: 0px 0px 26px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 26px -10px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 26px -10px rgba(0,0,0,0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2vh;
  cursor: pointer;
}
.show-item span{
  font-size: 20px;
  margin: 10px 0;
}
.item-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.search-input {
  width: 40vh;
  height: 30px;
}
.search {
  display: flex;
  justify-content: center;
}

.search input {
  font-size: 20px;
  background: rgba(255, 255, 255, 0.473);
  border: none;
}
.info-btn{
  position: fixed;
  top: 2%;
  left: 2%;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #999;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}