@import url('https://fonts.googleapis.com/css?family=Barriecito&display=swap');

h3 {
  font-family:  'Barriecito', cursive;
  font-size: 50px;
  color: rgb(52, 54, 53);
  margin: 0 auto;
}
h3::first-letter{
  font-size: 63px;
}
.header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-right: 15vh;
  margin-top: 10vh;
}
.dude {
  width: 160px;
  height: auto;
}
